body {
  margin: 0px;
  background: #000;
  color: white;
  font-family: 'geogrotesque_ultralighultraLt';
  -webkit-font-smoothing: antialiased;
}

.header-cont {
  width: 97%;
  position: fixed;
  top: 0px;
  margin: 2rem;
  font-size: 1.5rem;
  z-index: 100;
}

.header-right a {
  float: right;
  color: white;
  margin-right: 3rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.panel {
  height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.panel-1 {
  background-image: url('/img/opentrons.mp4')
}

.panel-2 {
  margin-top: 16vh;
}

.panel-2-left {
  width: 45%;
  float: left;
  padding-left: 8vw;
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.panel-2-left a {
  color: white;
  cursor: pointer;
}

.panel-2-left a:visited {
  color: white;
}

.panel-3-right {
  margin-left: 7vw;
  float: right;
  text-align: right;
  font-size: 2rem;
}

.panel-4 {
  text-align: left;
  font-size: 2.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/img/MixBio-Video.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}

.panel-4-text {
  display: inline-block;
  vertical-align: middle;
  width: 33vw;
  /*max-width: something;*/
  margin-left: 10vw;
  font-weight: 600;
}

.panel-4-text #mix-bio {
  display: block;
  margin-bottom: 0.33rem;
}

.panel-4-text .button {
  margin-top: 4rem;
}

.panel-5 {
  font-size: 3rem;
  height: 125vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.main-title {
  text-align: center;
}

.grid {
  background-image: url("/img/grid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  margin-top: 1.5rem;
  padding: .5rem .75rem .5rem .75rem;
  background-color: #fff;
  color: #0f3ffb;
  border: 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "geogrotesque_regularregular";
}

.bold {
  font-family: 'geogrotesque_regularregular', Helvetica;
}

.quarter-panel {
  vertical-align: middle;
  align-self: center;
  height: 25vh;
  margin: 1.5rem;
}

.left {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  margin-left: 10vw;
}

.right {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  margin-right: 10vw
}

.vertical-center {
  vertical-align: middle;
}

.social-media {
  position: fixed;
  bottom: 0;
  z-index: 3;
  padding-left: 1.7rem;
  font-size: 3.2rem;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.footer-logo {
  height: 3rem;
}

.image-link {
  text-decoration: none;
  margin-right: 1rem;
}

.bottom-button {
  margin-bottom: 2.1rem;
  vertical-align: middle;
  color: #fff;
  background-color: #0f3ffb;
}

.customers {
  height: 25vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.customers img {
  height: 2.5rem;
  text-align: center;
  margin: 3rem;
}

a img {
  border: 0 none;
}

hr {
  /*float: middle;*/
  width: 85vw;
  /*text-align: center;*/
  margin: 0;
}

#big-logo {
  border: .1rem solid white;
  padding: 1.2rem;
  height: 14rem;
}

#ot-one-pic {
  margin-top: -2rem;
  width: 38%;
  float: right;
  padding-right: 2vw;
}

#sketchfab {
    padding: 2rem;
  width: 64vw;
  max-width: 800px
}

#ot-one {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#price {
  margin-top: 0rem;
  font-size: 2.4rem;
  font-weight: 600;
}

#protocols {
  margin-bottom: 1.5rem;
}

#title {
  vertical-align: middle;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

#logo {
  vertical-align: middle;
  width: 3.2rem;
}

#ot-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 110vw;
  height: 110vh;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.contact {
  font-size: 1.5rem;
  height: 90vh;
  justify-content: flex-start;
  margin-left: 5vw;
}

form {
  width: 66vw;
  font-family: font-family: 'geogrotesque_regularregular', Helvetica;
  border: 0;
  outline: 0;
  padding: 1.2rem;
}

.form input[type="text"],
.form input[type="email"],
#message {
  background: #fff;
  border: 0;
  color: #000;
  font-family: 'geogrotesque_ultralighultraLt';
  font-size: 1.25rem;
  outline: 0;
}

.form input[type="text"],
.form input[type="email"] {
  padding: 1vw;
  display: inline;
  width: 25vw;
}

.light {
  font-family: 'geogrotesque_ultralighultraLt' Times;
  font-weight: 600;
  margin-left: 10vw;
}

#name {
  float: left;
  margin-right: 1.5vw;
}

#message {
  padding: 1vw;
  width: 53.5vw;
  margin-top: 1rem;
}

.msg-prompt {
  font-size: 1rem;
  text-align: center;
  width: 40vw;
  margin-left: 8vw;
}

.submit {
  float: right;
  margin-right: 10.5vw;
}

.email-signup {
  float: right;
  width: 33vw;
}

.validate {
  width: 8vw;
}
