body {
  margin: 0px;
  background: #000;
  color: white;
  font-family: 'geogrotesque_ultralighultraLt';
  -webkit-font-smoothing: antialiased;
}

.header-cont {
  width: 97%;
  position: fixed;
  top: 0px;
  margin: 2rem;
  font-size: 1.5rem;
}

.header-right a {
  float: right;
  color: white;
  margin-right: 3rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.panel {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-2 {
  margin-top: 16vh;
}

.panel-2-left {
  width: 45%;
  float: left;
  padding-left: 8vw;
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.panel-2-left a {
  color: white;
  cursor: pointer;
}

.panel-2-left a:visited {
  color: white;
}

.panel-3-right {
  margin-left: 7vw;
  float: right;
  text-align: right;
  font-size: 2rem;
}

.panel-4 {
  text-align: left;
  font-size: 2.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/img/MixBio-Video.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;;
}

.panel-4-text {
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  margin-left: 18vw;
  margin-right: 10rem;
  font-weight: 600;
}

.panel-4-text #mix-bio {
  display: block;
  margin-bottom: 0.33rem;
}

.panel-4-text .button {
  margin-top: 4rem;
}

.panel-5 {
  font-size: 3.5rem;
  height: 115vh;
  flex-direction: column;
  width: 66vw;
  margin-left: 16.6vw;
}

.main-title {
  text-align: center;
}

.grid {
  background-image: url("/img/grid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  margin-top: 1.5rem;
  padding: .5rem .75rem .5rem .75rem;
  background-color: #fff;
  color: #0f3ffb;
  border: 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "geogrotesque_regularregular";
}

.bold {
  font-family: 'geogrotesque_regularregular', Helvetica;
}

.quarter-panel {
  vertical-align: middle
  height: 25vh;
  margin: 2rem;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.vertical-center {
  vertical-align: middle;
}

.social-media {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 1.5rem;
  font-size: 3.2rem;
}

.footer-logo {
  height: 3rem;
}

.image-link {
  text-decoration: none;
}

.bottom-margin {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

a img {
  border: 0 none;
}

hr {
  float: middle;
  width: 60vw;
  text-align: center;
  margin: 0;
}

#big-logo {
  border: .1rem solid white;
  padding: 1.2rem;
  height: 14rem;
}

#ot-one-pic {
  margin-top: -2rem;
  width: 38%;
  float: right;
  padding-right: 2vw;
}

#sketchfab {
  margin-top: 4rem;
  padding: 2rem;
  width: 64vw;
  max-width: 800px
}

#ot-one {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#price {
  margin-top: 0rem;
  font-size: 2.4rem;
  font-weight: 600;
}

#protocols {
  margin-bottom: 1.5rem;
}

#title {
  vertical-align: middle;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

#logo {
  vertical-align: middle;
  width: 3.2rem;
}
